altair
arrow
attrs
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
ics
idna
importlib-resources
jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
packaging
pandas
pillow
pkgutil-resolve-name
proto-plus
protobuf==3.20.x
pyarrow
pyasn1
pyasn1-modules
pydeck
pygments
python-dateutil
pytz
referencing
reportlab
requests
rich
rpds-py
rsa
six
smmap
streamlit
TatSu
tenacity
toml
tornado
types-python-dateutil
typing-extensions
tzdata
urllib3
watchdog
zipp
